<section>
  <h1 id="titulo">Informações da reserva</h1><br><br>
  <h4>Reserva validada com Sucesso!</h4>
  <p>
    Entrada as 15:00h do dia escolhido.
  </p>
  <p>
    Saida as 14:00h do dia escolhido.
  </p>
  <p>
    Nome: <%= @reserva.cliente %>
  </p>
  <h6>
    Imprima suas informações, você não podera retornar a essa pagina
    novamento por medidas de segurança.
  </h6>
</section>
