<section>
  <h1 id="titulo">Informações do Usuario</h1><br><br>
  <h4>Suas Informações</h4>
  <p>
    Nome : <%= @cliente.nome %>
  </p>
  <p>
    CPF : <%= @cliente.cpf %>
  </p>
  <p>
    Telefone : <%= @cliente.telefone %>
  </p>
  <p>
    ID ( sera usado para fazer reservas ) : <%= @cliente.id %>
  </p>
  <h6>
    Imprima suas informações, você não podera retornar a essa pagina
    novamento por medidas de segurança.
  </h6>
</section>
