<section>
  <h1 id="titulo">Piscina</h1><br><br><br>
  <%= image_tag "piscina.jpg", :id => "img_info" %>
  <p>
    Para aqueles momentos de diversão com a familia ou com os amigos
    nada melhor doque uma piscina 1h depois do almoço para relaxar e tomar
    um bom banho de sol com refresco na mão.
  </p>

  <p>
    ATENÇÃO: Crianças com menos de 10 anos só serão autorizadas com
    o auxilio dos pais na piscina.
  </p>
</section>

<section>
  <h1 id="titulo">Playground</h1><br><br><br>
  <%= image_tag "playground.jpg", :id => "img_info" %>
  <p>
    Logico que as crianças não podem ficar de fora na hora de se divertir,
    e para isso o Hotel Vitória oferece um Playground pensado só para elas
    com muitos brinquedos e recreações.
  </p>

  <p>
    O Playground também conta com profissionais qualificados que tomam conta
    das crianças dando um tempo para os país terem aquele descanso.
  </p>
</section>

<aside>
  <h3>Tipos de quartos:</h3>
  <p>Simples: R$ 100,00 (Uma cama)</p>
  <p>Conjugado: R$ 230,00 (Três camas)</p>
</aside>
