<section>
  <h1 id="titulo">Sobre o Hotel Vitória</h1><br><br><br>
  <%= image_tag "conjugado.jpg", :id => "img_info" %>
  <p>
    O Hotel Vitória trás para você hoje um ambiente
    para toda familia, com muito conforte e qualidade.
  </p>
  <p>
    Sua estadia tera atenção especial para todo seu conforto,
    para que você relaxar sem ter que se preucupar com nem um detalhe.
  </p>
</section>

<section>
  <h1 id="titulo">Sobre o Hotel Vitória</h1><br><br><br>
  <%= image_tag "restaurante.jpg", :id => "img_info" %>
  <p>
    O Hotel Vitótia conta com o melhor restaurante da cidade
    com mais de 20 sobremessas diferenciadas, musica ao vivo e um presente
    caso haja um aniversariante.
  </p>
</section>

<section>
  <h1 id="titulo">Sobre o Hotel Vitória</h1><br><br><br>
  <%= image_tag "salao_festas.jpg", :id => "img_info" %>
  <p>
    Caso a familia ou amigos estejam comemorando aniversario de alguem,
    pode-se reservar o salão de festas que já tem tudo pronto para sua festa
    ser inesquecivel.
  </p>
</section>

<aside>
  <h3>Horarios:</h3>
  <p>Das 15:00 ás 14:00h</p>

  <h3>Funcionamento:</h3>
  <p>De Segunda a Domingo</p>
  <p>24h de serviço</p>
</aside>
