<section>
  <h1 id="titulo">Segunda - Terça</h1><br><br><br>
  <%= image_tag "refeicao1.jpg", :id => "img_info" %>
  <p>
    Para começar bem a semana, iniciamos com o prato tipico Brasileiro com
    bastante sabor e textura preparada pelos melhores chefes da cidade.
  </p>

  <p>
    ATENÇÃO: Bebidas não inclusas no almoço ou estadia.
  </p>
</section>

<section>
  <h1 id="titulo">Quarta - Quinta</h1><br><br><br>
  <%= image_tag "refeicao2.jpg", :id => "img_info" %>
  <p>
    Quem ja conhece sabe o quanto é bom e vai querer esperimentar de novo,
    quem não conhece não porde perder a chance de esperimentar uma bela comida
    tipica de Minas com um belo tempero preparado por um chefe especialista
    na região.
  </p>
</section>

<section>
  <h1 id="titulo">Sexta - Sabado</h1><br><br><br>
  <%= image_tag "refeicao3.jpg", :id => "img_info" %>
  <p>
    Nada melhor que uma boa feijoada para poder descansar o fim de samana inteiro
    na beira da piscina e um suco de maracuja na mão para tirar todo o extrex
    da semana.
  </p>
</section>

<section>
  <h1 id="titulo">Domingo (Variação)</h1><br><br><br>
  <%= image_tag "refeicao4.jpg", :id => "img_info" %>
  <p>
    Para o primeiro dia de semana pensamos em algo exotico então deixamos que
    os nossos reservantes do dia excolham qual sera o prato do dia sendo que
    o prato deve se originar de outro país.
  </p>
</section>
